.breadcrumb-title {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
  & > span {
    flex-grow: 1;
    font-weight: 800;
    font-size: 32px;
    line-height: 24px;
    color: $cloudBurst;
  }
}
.breadcrumb {
  padding: 0;
  margin-bottom: 1rem;
  background-color: transparent;
  border-radius: 0;
  .breadcrumb-item {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 20px;
    a {
      font-style: italic;
      font-size: 14px;
      line-height: 20px;
      color: $cloudBurst;
    }
    &.active {
      font-style: italic;
      font-size: 14px;
      line-height: 20px;
      color: $wafer;
    }
  }
}
