//font sizes: 12, 14, 16, 18, 20, 32
$size-12: 12px;
$size-14: 14px;
$size-16: 16px;
$size-18: 18px;
$size-20: 20px;
$size-24: 24px;
$size-32: 32px;

//font-colors : white, malibu, gray, wafer, green, lochmara, cloudBurst
$white: #ffffff;
$gray: #848e9f;
$wafer: #cbab97;
$green: #35a062;
$malibu1: #61c7ff;
$malibu2: #007ec3;
$cloudBurst: #1e2d55;
$teal: #008489;
$mischka: #d1d5db;
$blue: #4d4da7;

//bg-colors: gray
$bgGreen: #318c57;
$bgGray: #f3f4f6;
$bgCloudBurst: #4f6297;
$bgLightBlue: #e0e0f6;
